<div class="s-products-pg">
<div class="s-head" > <span>Products</span> </div>
<div class="s-body" >
    <div class="s-left">

      <md-card>
        <md-list>
          <md-list-item> All Products </md-list-item>
          <md-list-item> Customer </md-list-item>
          <md-list-item> Product Type </md-list-item>
          <md-list-item> Renewal Status </md-list-item>
          <md-list-item> Lifecycle Status </md-list-item>
        </md-list>
      </md-card>

    </div>

    <div class="s-content">
      <md-card>
        Product List
      </md-card>
    </div>
</div>



</div>
